DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=YOUR_TIDB_USER
DB_PASSWORD=YOUR_TIDB_PASSWORD
DB_NAME=Portofolio

CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_SECRET

RESEND_API_KEY=YOUR_RESEND_API_KEY

SECRET_KEY=awl-portfolio-secret-2026
